@font-face {
    font-family: "gamer";
    src: url("../fonts/yoster.ttf");
}
@font-face {
    font-family: "adventurer";
    src: url("../fonts/Adventurer.ttf");
}
@font-face {
    font-family: 'superscript';
    src:url('../fonts/superscript.ttf.woff') format('woff'),
    url('../fonts/superscript.ttf.svg#superscript') format('svg'),
    url('../fonts/superscript.ttf.eot'),
    url('../fonts/superscript.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
.text {
    width: 33.3%;
    float:left;
    font-family: "gamer";
}
html, body {
    margin: 0;
    padding: 0;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 720px;
    height: 1280px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
